@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  font-family: "Mada", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #F7EBEE;
}

input {
  background-color: #F7EBEE;
}

.activity::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

/* Track */
.activity::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.activity::-webkit-scrollbar-thumb {
  background: #bdbbbb; 
  border-radius: 10px;
}

/* Handle on hover */
.activity::-webkit-scrollbar-thumb:hover {
  background: #adacac; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
